/* Calcula largura ignorando padding etc */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


#barrauol {
  background-color: #262626;
  color: #FFF;
  font: 14px UOLText, sans-serif, Helvetica, Arial;
  padding: 0 40px;
  height: 30px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header {
  top: 0;
  margin-bottom: auto;
  right: 0;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 10000;
}

#header>.container {
  padding-bottom: 10px;
  padding-top: 10px;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

#header>.container .logo {
  height: 105px;
  width: 105px;
}

.logo {
  background: url(https://revistatrip.uol.com.br/img/logo/trip.png) no-repeat left top;
  background-size: contain;
  float: left;
  height: 100px;
  width: 460px;
  transition: all 0.2s ease;
}

.container #bt-menu {
  float: left;
  margin: 4px 0 0 0;
  height: 22px;
  position: relative;
  width: 24px;
}

#header>.container #bt-menu span {
  background-color: #000;
  background: #FFF;
  content: '';
  display: block;
  height: 4px;
  position: absolute;
  top: 8px;
  width: 100%;
  transition: all 0.3s ease;
}

#header>.container .bt-main-menu {
  float: left;
  font-size: 1.1 em;
  height: 22px;
  line-height: 22px;
  margin: 0 0 0 15px;
}

.container .bt-main-menu-tx {
  font-size: .85em;
  text-transform: uppercase;
  line-height: 21px;
  margin: 4px 0 0 12px;
  padding: 0 4px;
}

.bg-trip {
  background: #FFFF33;
}

.bg-tpm {
  background: #ff3333;
}

#header>.container .tagline {
  color: #838383;
  float: left;
  font-family: 'fuguemono';
  font-size: 0.85em;
  padding: 5px 0 0 35px;
  text-transform: uppercase;
}

.bt-search span {
  border: 3px solid #FFF;
  border-color: #000;
  border-radius: 50%;
  content: '';
  display: block;
  height: 18px;
  position: absolute;
  top: 0;
  width: 18px;
  float: right;
}

#header .follow {
  float: right;
  margin: 0 25px 0 0;
  padding: 0;
}

#header .follow label {
  font-size: 0.75em;
  line-height: 2.2em;
  float: left;
  font-family: 'fuguemono';
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}

label {
  display: inline-block;
  max-width: 100%;
}

#header .follow div {
  margin-top: -4px;
  float: right;
}

#header .follow div a {
  font-size: 1.35em;
  margin: 0 0 0 10px;
}


.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-facebook:before {
  content: "";
}

.share a {
  font-size: 1.25em;
  margin: 0 0 0 10px;
}

#header .menu-webstories {
  float: right;
  margin: 8px 15px;
  text-transform: uppercase;
  font-size: .75em;
}

#header .menu-webstories a {
  border-right: 1px solid #000;
  padding: 0 15px;
  line-height: 1;
  display: block;
}

.webdoor {
  padding-bottom: 60px;
  position: relative;
}

#webdoor .carousel .item {
  position: relative;
}

#webdoor .thumb {
  background-size: cover;
  width: 100%;
}

#webdoor .carousel .item img {
  height: auto;
  width: 100%;
}

#webdoor .item .container {
  margin-top: -35px;
  position: relative;
  text-align: center;
  transition: margin 0.2s ease;
}

.item .container .title {
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  text-align: center;
}

.item .container h2 {
  --background-color: #FF0000;
  box-shadow: 0 0 0 12px var(--background-color);
  background-color: var(--background-color);
  font-family: 'fugueregular', sans-serif;
  display: inline;
  font-size: 2.5em;
  line-height: 1.5em;
  margin: 0 0 15px;
  text-transform: uppercase;
}

.container p {
  font-size: 1.2em;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  text-align: center;
  font-family: 'fugueregular', sans-serif;
}

.item .container footer {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
}

.pull-left {
  float: left !important;
}

.item .container footer .tags {
  font-family: 'fuguemono';
  font-size: 0.85em;
  padding: 0 0 5px;
  text-transform: uppercase;
}

.item .container footer .tags .bg {
  padding: 3px 4px 0;
}

.bg-author {
  background-color: #000;
  color: #FFF;
}

.bg-tpm {
  background: #FF0000;
}

.pull-right {
  float: right !important;
}

.item .container footer time {
  color: #878585;
  float: left;
  font-family: 'fuguemono';
  font-size: 0.8em;
  line-height: 20px;
  padding-right: 15px;
  text-transform: uppercase;
}

.item .container footer .share {
  float: left;
}

#trip-tv-home {
  background: #EBEBEB;
  padding: 35px 0;
  box-sizing: border-box;
}

#trip-tv-home header .container {
  position: relative;
}

#featured-articles h2,
#trip-tv-home h2,
#most-commented h2,
#contributors-ad h2,
#trip-tpm-newsstand h2,
#webstories h2 {
  font-size: 1.45em;
  margin-top: 0;
  text-transform: uppercase;
}

#trip-tv-home header .container .bt-plus {
  bottom: 0;
  display: block;
  height: 20px;
  position: absolute;
  right: 15px;
  width: 20px;
}

#trip-tv-home header {
  text-align: center;
}

#trip-tv-home .row {
  padding-top: 50px;
  padding-bottom: 50px
}

.row {
  margin-right: 70px;
  margin-left: 70px;
  align-content: center;
}

.col-xs-3 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

  {
  background-image: url(https://revistatrip.uol.com.br/upload/2021/12/61ba7def0b188/monja-coen-trip-tv-ho.jpg);
}

#trip-tv-home .row .col .thumb {
  background: #EBEBEB no-repeat center center;
  background-size: cover;
  height: 154px;
  width: 100%;
}

.thumb {
  display: block;
  position: relative;
}

#trip-tv-home .row .col a>span {
  display: block;
  font-size: 1em;
  padding: 15px 0 0;
}

#htrip-tv-home .thumb .play {
  height: 100px;
  width: 100px;
}

.thumb .play {
  border: 2px solid #FFF;
  border-radius: 50%;
  bottom: 0;
  height: 75px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.thumb .play:after {
  border: 20px solid #FFF;
  border-color: transparent transparent transparent #FFF;
  border-width: 15px 0 15px 25px;
  bottom: 0;
  content: '';
  display: block;
  height: 0;
  left: 8px;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}

##trip-tv-home .thumb .play:after {
  border-width: 20px 0 20px 30px;
  left: 10px;
}