<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home - Trip Uol</title>
  <link rel="stylesheet" href="static/style.css" />
  <link href="fontawesome/css/all.css" rel="stylesheet">
</head>

<body>

  <nav>
    <div id="barrauol" class="barrauol" <div class="logouol" <a href="#">UOL</a>
      <a href="#">INGRESSO.COM</a>
      <a href="#">UOL HOST</a>
      <a href="#">PAGBANK</a>
      <a href="#">CURSOS</a>
      <a href="#">UOL PLAY</a>
      <a href="#">UOL ADS</a>
      <a href="#">BUSCA</a>
      <a href="#">BATE-PAPO</a>
      <a href="#">EMAIL</a>
    </div>
    </div>
  </nav>
  <header id="header">
    <div class="container">
      <a href="https://revistatrip.uol.com.br" class="logo logo-home visible-xs ir">Home</a>
      <a href="#" id="bt-menu" class="bt-main-menu"><span></span></a>
      <a href="https://revistatrip.uol.com.br" id="bt-home" class="hidden-xs bt-main-menu"><i
          class="fa-solid fa-house"></i></a>
      <a href="https://revistatrip.uol.com.br/trip" class="hidden-xs bt-main-menu bt-main-menu-tx bg-trip"
        title="Trip">Trip</a>
      <a href="https://revistatrip.uol.com.br/tpm" class="hidden-xs bt-main-menu bt-main-menu-tx bg-tpm"
        title="Tpm">Tpm</a>

      <span class="tagline hidden-xs">

      </span>

      <a href="#" id="bt-search"><span></span></a>

      <menu class="follow hidden-xs clearfix">
        <!-- <a href="/assine" class="bt-subscribe">
              <span>assine</span>
          </a> -->
        <label>Siga a Trip!</label>
        <div>
          <a href="https://www.facebook.com/revistatrip" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/revistatrip/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://twitter.com/revistatrip" target="_blank"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.youtube.com/revistatrip" target="_blank"><i class="fa-brandes fa-youtube-play"></i></a>
          <a href="https://open.spotify.com/user/revistatrip" target="_blank"><i class="fa-brands fa-spotify"></i></a>
          <a href="https://www.deezer.com/br/show/56199" target="_blank" class="deezer"><i></i></a>
        </div>
      </menu>

      <div class="menu-webstories">
        <a href="https://revistatrip.uol.com.br/webstories">Web Stories</a>
      </div>

    </div>

  </header>

  <main>
    <section id="webdoor">
      <div class="item tpm">
        <a href="/tpm/por-que-eu-parei-de-falar-com-minha-mae" class="thumb holder-figure-hidden">
          <img
            src="https://revistatrip.uol.com.br/upload/2024/05/663a8056587b2/tpm-por-que-eu-parei-de-falar-com-minha-mae-he2.jpg"
            alt="Por que eu parei de falar com minha mãe" class="holder-figure-img">
        </a>
        <div class="container">
          <a href="/tpm/por-que-eu-parei-de-falar-com-minha-mae">
            <div class="title">
              <h2>POR QUE PAREI DE FALAR COM MINHA MÃE</h2>
            </div>
            <p>Minha mãe nunca me bateu, me deixou passar fome ou negou cuidado médico. Mas as coisas que ela fez,
              silenciosas e quase invisíveis, corroeram minha autoestima e me marcaram permanentemente</p>
          </a>
          <footer class="clearfix">
            <div class="pull-left">
              <div class="tags hidden-xs hidden-sm">
                por
                <a href="https://revistatrip.uol.com.br/autores/flavia-monteiro" class="bg bg-author">Flávia
                  Monteiro</a>
                / <a href="https://revistatrip.uol.com.br/tpm" class="bg bg-tpm">Tpm</a>
                / <a href="https://revistatrip.uol.com.br/tags/comportamento">Comportamento</a>
                / <a href="https://revistatrip.uol.com.br/tags/familia">Família</a>
                / <a href="https://revistatrip.uol.com.br/tags/maternidade">Maternidade</a>
                / <a href="https://revistatrip.uol.com.br/tags/infancia">Infância</a>
              </div>
            </div>
            <div class="pull-right">
              <time>
                17 min para ler
              </time>
              <div class="share" data-url="/tpm/por-que-eu-parei-de-falar-com-minha-mae"
                data-image="https://revistatrip.uol.com.br/upload/2024/05/663a80710b662/tpm-por-que-eu-parei-de-falar-com-minha-mae-so2.jpg"
                data-slug="tpm/por-que-eu-parei-de-falar-com-minha-mae"
                data-title="Por que eu parei de falar com minha m&atilde;e"
                data-description="Uma hist&oacute;ria para toda filha que cresceu com machucados que n&atilde;o deixam roxo"
                data-tweet="" data-caption="revistatpm.uol.com.br">
                <a href="#" class="fb" data-origin="facebook"><i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="#" class="tw" data-origin="twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="hidden-sm hidden-xs"><i class="fa fa-share-alt"></i></a>
              </div>
    </section>

    <section id="trip-tv-home" class="trip-tv hidden-xs hidden-sm">
      <header>
        <div class="container">
          <h2><a href="https://revistatrip.uol.com.br/trip-tv">Trip TV</a></h2>
          <a href="https://revistatrip.uol.com.br/trip-tv" class="bt-plus"></a>
        </div>
      </header>
      <article>
        <div class="container">
          <div class="row">
            <div class="col col-xs-3">
              <a href="#"
                style="background-image: url(https://revistatrip.uol.com.br/upload/2021/12/61ba7def0b188/monja-coen-trip-tv-ho.jpg);"
                class="thumb" data-video="">
                <span class="play ir">play</span>
              </a>
              <a href="/trip-tv/monja-coen-nao-esperem-de-mim-uma-deusa-ou-uma-santa">
                <span>Monja Coen: Não esperem de mim uma deusa ou uma santa</span>
              </a>
            </div>
            <div class="col col-xs-3">
              <a href="#"
                style="background-image: url(https://revistatrip.uol.com.br/upload/2021/12/61afe19b51099/trip-tv-metaverso-ho.jpg);"
                class="thumb" data-video="">
                <span class="play ir">play</span>
              </a>
              <a href="/trip-tv/como-entender-o-metaverso">
                <span>Como entender o metaverso?</span>
              </a>
            </div>
            <div class="col col-xs-3">
              <a href="#"
                style="background-image: url(https://revistatrip.uol.com.br/upload/2021/11/61981ff60ac0e/trip-tv-marina-sena-ho.jpg);"
                class="thumb" data-video="https://www.youtube.com/embed/I-uZm3qrJ3Y">
                <span class="play ir">play</span>
              </a>
              <a href="/trip-tv/o-hype-de-marina-sena-da-licenca-que-eu-sou-gostosa">
                <span>O hype de Marina Sena: "Dá licença que eu sou gostosa"</span>
              </a>
            </div>
            <div class="col col-xs-3">
              <a href="#"
                style="background-image: url(https://revistatrip.uol.com.br/upload/2021/11/618e938feffab/0x0x400x200x0x0/mariam-1900x680.jpg);"
                class="thumb" data-video="https://www.youtube.com/embed/1GQ7YD52z3g">
                <span class="play ir">play</span>
              </a>
              <a href="/trip-tv/mariam-chami-muculmana-e-brasileira">
                <span>Mariam Chami, muçulmana e brasileira
                </span>
              </a>
            </div>
          </div>
        </div>
      </article>
    </section>
  </main>



</body>

</html>